doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Admin Login
    link(rel="stylesheet", href="css/admin_login.css")
  body
    .container
      form(action="/authenticate", method="post")
        h2 Admin Login
        label(for="email") Email:
        input(type="text", id="email", name="email", placeholder="Enter your email", required)
        label(for="password") Password:
        input(type="password", id="password", name="password", placeholder="Enter your password", required)
        input(type="submit", value="Login")
