doctype html
html
  head
    title Create Item
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/style.css')
  body
    nav
      div.logo
        img.logo(src='../css/logo.png', alt='Logo')
        span.silver-spoon-text Silver Spoon
      div.hamburger
        i.fa.fa-bars
      ul
        li
          a(href='/admin_dashboard') HOME
        li
          a(href='/create') Create Menu
    .card-container
      .card
        h1 Create Item
        form(action='/create_item', method='POST', enctype='multipart/form-data')
          .form-group
            label(for='name') Name:
            input(type='text', id='name', name='name', required)
          .form-group
            label(for='category') Category:
            select(id='category', name='category')
              option(value='Main Course') Main Course
              option(value='today_special') Today Special
          .form-group
            label(for='veg') Veg:
            select(id='veg', name='veg')
              option(value='Yes') Yes
              option(value='No') No
          .form-group
            label(for='ingredients') Ingredients:
            textarea(id='ingredients', name='ingredients', rows='5')
          .form-group
            label(for='benefits') Benefits:
            textarea(id='benefits', name='benefits', rows='5')
          .form-group
            label(for='calories') Calories:
            input(type='number', id='calories', name='calories')
          .form-group
            label(for='price') Price:
            input(type='number', id='price', name='price')
          .form-group
            label(for='description') Description:
            textarea(id='description', name='description', rows='5')
          .form-group
            label(for='item_img') Item Image:
            input(type='file', id='item_img', name='item_img')
          button(type='submit') Submit
