doctype html
include index
html(lang='en')
  head
    title text over image css
    link(rel='stylesheet', href='css/style.css')
  body
    .image-container
      .overlay-text-wrapper
        .overlay-text Silver Spoon
        hr.line-between
        .overlay-text.secondary From Our Casa To Yours
      img(src='css/dashboard.jpg', alt='Silver Spoon Discussion')
