doctype html
html
  head
    title Pug Responsive Navbar
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')

  body
    nav
      div(class='logo')
        img.logo(src='css/logo.png', alt='Logo')
        span.silver-spoon-text Silver Spoon
      div(class='hamburger')
        i(class='fa fa-bars')
      ul
        li
          a(href='/home') HOME
        li
          a(href='/aboutus') ABOUT US
        li
          a(href='/contactus') CONTACT US

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='js/header.js')
